@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

a {
    line-height: inherit;
    display: inline-block;
    margin: 0 5px;
}

.container {
    padding: 15px calc(10% - 20px);
}